  <div class="contents row">
    <h3>
      編集する
    </h3>
    <%= form_for @tweet do |f| %>
      <%= f.file_field :image, placeholder: "Image", value: @tweet.image %>
      <%= f.text_area :text, cols: "30", rows: "10", placeholder: "text", value: @tweet.text %>
      <%= f.submit "SENT" %>
    <% end %>
  </div>